# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env
/.env
#mongodb+srv://AnnaAshok:Aparna%401997@cluster0.g2jmq0q.mongodb.net/edusphere?retryWrites=true&w=majority&appName=Cluster0